{{- partial "analytics" . -}}
<meta charset="utf-8">
<title>{{site.Title}}{{if not .IsHome}} | {{.Title}}{{end}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" href='{{ "favicon-32x32.png" | relURL }}'>
{{ if .Site.Params.icon.fa5 }}
<link href='{{ "/css/fa5.min.css" | relURL }}' rel="stylesheet" type="text/css">
{{ end }}
{{ $styles := resources.Get "css/style.css" | postCSS }}
{{ if .Site.IsServer }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ else }}
{{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ end }}
{{ if .IsHome }}
<link rel="stylesheet" href='{{ "/css/swiper-bundle.min.css" | relURL }}'>
{{ end }}
<link href='{{ "/css/style.min.css" | relURL }}' rel="stylesheet" type="text/css">
<link rel="stylesheet" href='{{ "/css/custom.css" | relURL }}'>

<!-- Mailchimp -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/bd68b50d08e249e86c1d0420b/e369f46a758623468246ea888.js");</script>
